<meta charset="UTF-8"> 
<h1 id="proppertimetable">PROPPER-TIMETABLE</h1>

<h2 id="manualdeusuario">MANUAL DE USUARIO</h2>

<div class="pagebreak"></div>

<p><strong>Índice</strong>   </p>

<ol>
<li>Introducción</li>

<li>Ejecución</li>

<li>Funcionalidades</li>

<li>Algoritmo</li>

<li>Créditos</li>
</ol>

<div class="pagebreak"></div>

<h1 id="1introduccin">1. Introducción</h1>

<p>Este manual tiene como finalidad dar a conocer las funcionalidades básicas y las características del programa Propper-Timetable, un proyecto efectuado a la Facultad de Informática de Barcelona (FIB) 
durante el curso de la asignatura proyectos de programación (PROP). El proyecto ha sido  creado por Ernesto Lanchares Sánchez, Ferran López Guitart y Niebo Zhang y tutelado por el profesor Jordi 
Turmo.</p>

<p>El objetivo principal de este proyecto consiste en recrear un entorno cómodo y poder generar un horario válido a partir de unas condiciones  y datos establecidas previamente.</p>

<h1 id="2ejecucin">2. Ejecución</h1>

<p>Se debe ejecutar el siguiente comando:</p>

<p>java -jar propper-timetable.jar</p>

<p>Es necesario tener instalado Java 8 o superior.</p>

<h2 id="21compilacin">2.1 Compilación</h2>

<p>Para complilar el programa:</p>

<p>mvn compile assembly:single</p>

<p>Este comando necesita tener Maven instalado. Si no se puede compilar con ./deploy y ejecutar con:</p>

<p>java -cp "target/propper-timetable.jar:gson-2.8.5ar" Main</p>

<h1 id="3funcionalidades">3. Funcionalidades</h1>

<p>La interfície del usuario se divide principalmente en 3 grandes bloques, que llamaremos: VistaAula, VistaHorario y VistaTitulación. Una vez iniciado el programa, el usuario accederá de manera 
predeterminada a la VistaAula, aunque tiene la opción de escoger cual quiere visualizar a partir de unas pestañas que puede encontrar justo debajo la barra de menú.</p>

<p><img src="./Images/1.png" alt="Barra menú" /></p>

<p>En la barra de menú de la parte superior, que permancerá fija durante toda la ejecución del programa, se podrá realizar diferentes tareas. </p>

<h2 id="31barrademen">3.1 Barra de menú</h2>

<h3 id="311archivo">3.1.1 Archivo</h3>

<p>El usuario al darle clic a la opción de archivo de la barra de menú puede escoger diferentes acciones que tienen que ver directamenet con la gestión del proyecto, como por ejemplo abrir o guardar 
este:</p>

<p><img src="./Images/VistaMenu.png" alt="Menu archivo" /></p>

<h4 id="3111crearnuevoproyecto">3.1.1.1 Crear nuevo proyecto</h4>

<p>Al darle a la opción de crear nuevo proyecto o introduciendo ctrl + n, el programa automáticamente invoca una pestaña y pide al usuario si quiere guardar el proyecto actual para poder recuperarlos 
más adelante. </p>

<p><img src="./Images/Vistasave2.png" alt="vista" /></p>

<p>En caso afirmativo, si el proyecto ya ha sido guardado previamente, el programa guarda automáticamente éste sobreescribiendo sobre el archivo .ttb correspondiente. Si el proyecto nunca ha sido 
guardado y, por ende, no existe ningun archivo que lo contenga, el usuario tiene que introducir el directorio donde quiere guardar el archivo y el nombre que desea que tenga el proyecto.</p>

<p><img src="./Images/VistaSaev2.png" alt="save" /></p>

<p>En caso negativo, <strong>el proyecto actual se perderá y, por consecuencia, no se podrá recuperar</strong>.  </p>

<p>Seguidamente el programa muestra una pestaña donde el usuario tiene que escoger el directorio donde se encuentra el proyecto que desea abrir y el nombre de este. Al finalizar el programa abrirá el 
proyecto y mostrará los datos que contiene este. </p>

<h4 id="3112abrirproyecto">3.1.1.2 Abrir proyecto</h4>

<p>Al darle a la opción de abrir proyecto o introduciendo ctrl + o, el programa automáticamente invoca una pestaña y pide al usuario si quiere guardar el proyecto actual para poder recuperarlos más 
adelante. </p>

<p>En caso afirmativo, si el proyecto ya ha sido guardado previamente, el programa guarda automáticamente éste sobreescribiendo sobre el archivo .ttb correspondiente. Si el proyecto nunca ha sido 
guardado y, por ende, no existe ningun archivo que lo contenga, el usuario tiene que introducir el directorio donde quiere guardar el archivo y el nombre que desea que tenga el proyecto.</p>

<p><img src="./Images/VistaAbrir.png" alt="abir" /></p>

<h4 id="3113abrirreciente">3.1.1.3 Abrir reciente</h4>

<p>El programa guarda los cinco proyectos ejecutados más recientes automáticamente.  Al darle a la pestaña de abrir reciente muestra un submenú con estos cinco proyectos, o en caso de que no haya cinco 
proyectos,  los proyectos que tenga guardado hasta ese momento. El usuario puede abrir estos directamente dándole clic. Antes de abrir el proyecto escogido, el programa pide si el usuario quiere guardar 
el proyecto actual.</p>

<p>En caso afirmativo, si el proyecto ya ha sido guardado previamente, el programa guarda automáticamente éste sobreescribiendo sobre el archivo .ttb correspondiente. Si el proyecto nunca ha sido 
guardado y, por ende, no existe ningun archivo que lo contenga, el usuario tiene que introducir el directorio donde quiere guardar el archivo y el nombre que desea que tenga el proyecto.</p>

<p>En caso negativo, <strong>el proyecto actual se perderá y, por consecuencia, no se podrá recuperar</strong>.  </p>

<h4 id="3114guardado">3.1.1.4 Guardado</h4>

<p>Podemos guardar proyecto o también introduciendo ctrl + s. Si el proyecto ya ha sido guardado previamente, el programa guarda automáticamente éste sobreescribiendo sobre el archivo .ttb 
correspondiente. Si el proyecto nunca ha sido guardado y, por ende, no existe ningun archivo que lo contenga, el usuario tiene que introducir el directorio donde quiere guardar el archivo y el nombre 
que desea que tenga el proyecto. **El proyecto se guarda por defecto con extensión ttb".</p>

<h4 id="3115guardadocomo">3.1.1.5 Guardado como...</h4>

<p>Podemos guardar el proyecto o también introduciendo ctrl + shift + s. El programa muestra la pestaña de guardado y el usuario tiene que escoger el nombre que quiere ponerle al proyecto, el directorio 
donde quiere guardar, y en caso de que se deseé puede escoger el formato del proyecto. <strong>Si ya existe un proyecto con la misma extensión y nombre, el programa directamente sobreescribirá sobre 
este, y por consecuencia se perderá el proyecto anterior</strong>. </p>

<h4 id="3117exportar">3.1.1.6 Exportar a imagen</h4>

<p>Una vez creado el horario, el usuario puede guardarlo como imagen JPEG. El horario será guardado tal como aparece en pantalla, con las aulas o asignaturas que se hayan seleccionado.</p>

<h4 id="3118preferencias">3.1.1.7 Preferencias</h4>

<p>Al darle clic o introudicendo ctrl + shift + p, el programa nos saltará una pestaña para poder modificar ciertos aspectos del programa, por ejemplo, el usuario puede escoger el idioma que desea tener 
el programa. Las lenguas disponibles en esta versión son: catalán, español e inglés. Además el usuario puede marcar si quiere la opción de autoguardado y en este caso introducir el intervalo de tiempo 
que desea entre autoguardados. Este campo no debe dejarse vacío. Al darle al botón de aceptar se efectuarán los cambios que el usuario haya establecido.</p>

<p><img src="./Images/VistaPreference.png" alt="Preference" /></p>

<h4 id="3119salir">3.1.1.8 Salir</h4>

<p>La opción de salir o también ctrl + q cerrará el programa, pero antes este confirma si el usuario esta seguro de querer salir, <strong>si el usuario acepta la confirmación el programa se cerrará y 
los cambios efectuados en el proyecto no se guardarán</strong>. En caso contrario se cierra la pestaña, el programa sigue funcionando y no se efectua ningun cambio.</p>

<h3 id="312help">3.1.2 Help</h3>

<h4 id="3121help">3.1.2.1 Help</h4>

<h4 id="3122about">3.1.2.2 About</h4>

<h2 id="32vistaaula">3.2 VistaAula</h2>

<p>En la ventana de VistaAula tenemos una interfície simple y directa, nos muestra la tabla de aulas que contiene la unidad docente actual y sus propiedades básicas, es decir: el nombre de la aula, la 
capacidad de esta y los recursos que esta contiene.</p>

<p><img src="./Images/VistaAula1.png" alt="VistaAula" /></p>

<h3 id="311crearaula">3.1.1  Crear Aula</h3>

<p>Al darle clic al único botón que tenemos en todo la ventana de VistaAula, nos muestra una subventana donde el usuario introduce los datos básicos de la aula, es decir el nombre y la capacidad de 
este. </p>

<p><img src="./Images/VistaAula2.png" alt="CrearAula" /></p>

<p>En caso de que el usuario escriba un nombre de aula de una ya existente, el programa notificará el error y cancelará la acción de creado. </p>

<p><img src="./Images/VistaErrorAula2.png" alt="error2" /></p>

<p>En caso de que el usuario introduzca algo diferente a un entero positivo en el campo de capacidad, el programa notificará el error y cancelará la acción de creado.</p>

<p><img src="./Images/VistaErrorAula.png" alt="error" /></p>

<p>Si los dos campos cumplen con las condiciones establecidas, el programa crea una nueva fila en la tabla con los datos introducidos, en este caso la aula no tendrá ningun recurso.</p>

<h3 id="312aulamen">3.1.2 Aula menú</h3>

<p>En la tabla si damos clic derecho a una fila válida, es decir que contenga una aula, nos mostrará el siguiente menú:</p>

<p><img src="./Images/VistaAula3.png" alt="menuAula" /></p>

<h4 id="3121eliminar">3.1.2.1 Eliminar</h4>

<p>Al darle a la opció de eliminar, el programa pedirá la confirmación del usuario. Si el usuario acepta la acción, es este caso el programa eliminará la aula de la fila seleccionada o en caso que haya 
múltiples aulas, el programa eliminará todas las aulas seleccionadas. Si el usuario cancela la acción, las aulas permanecerán intactas.</p>

<p><img src="./Images/vistadelte.png" alt="delete" /></p>

<h4 id="3122clonar">3.1.2.2 Clonar</h4>

<p>Al darle a la opción de clonar, el programa saltará una subventana donde el usuario puede introducir los nombre de las nuevas aulas que serán clones de la aula seleccionada actualmente, o en caso de 
múltiples selecciones, de la aula seleccionada más recientemente.</p>

<p><img src="./Images/CloneAula.png" alt="Clone" /></p>

<p>Para cada línea con un nombre el programa creará dicha aula, con las mismas propiedades que la original. <strong>En caso de que ya exista la aula, se creará un clon con el nombre modificado añadiendo 
"*"</strong>.</p>

<p><img src="/home/niebo11/project/propper-timetable/Images/vistaclone.png" alt="Clone" /></p>

<h4 id="3123gestorderecursos">3.1.2.3 Gestor de recursos</h4>

<p>Al darle a la opción de clonar, el programa saltará una subventana donde podremos gestionar los recursos de la aula seleccionada.</p>

<p>En la lista de la izquierda nos muestra todos los recursos que han sido listados hasta el momento de la unidad docente y que no están en la aula actual, mientras que en la lista de la derecha nos 
muestra la lista de todos los recursos que tiene la aula. El usuario puede mover libremente de una lista a otro a partir de las flechas. </p>

<p><img src="/home/niebo11/project/propper-timetable/Images/VistaRecurso.png" alt="Recursos" /></p>

<p>En caso que el usuario no encuentre el recurso que quiere en ninguna de las listas, este puede crear nuevos recursos introduciendo el nombre de este a partir del botón "nuevo".</p>

<p><img src="./Images/VistaRecurso2.png" alt="Recursos" /></p>

<p><strong>Los cambios se efectuarán solamente si el usuario le da al botón "OK", en caso contrario el programa deshace todos los cambios que el usuario haya efectuado</strong>.</p>

<h3 id="313cambiosdirectosenlatabla">3.1.3 Cambios directos en la tabla</h3>

<p>Para cambiar el nombre o la capacidad de una aula, el usuario puede modificar directamente estos valores en la tabla introduciendo el nuevo valor deseado.</p>

<p>En caso que ya exista una aula con nombre introducido, el programa notifica al usuario que está duplicado y deshace la acción.</p>

<p>En caso que el usuario introduzca un valor no válido en el campo de capacidad el programa notifica al usuario que no es posible tal acción y desahce el cambio deseado.</p>

<p>**El usuario sin embargo no podrá efectuar cambios en los recursos de una aula directamente sobre la table, solo podrá hacerlos en el gestor de recursos".</p>

<h3 id="314opcindebsqueda">3.1.4 Opción de búsqueda</h3>

<p>Al darle ctrl + f, saldra un campo de texto en nuestra ventana:
//TODO image, is not working anymore btw :D
El usuario puede introducir el nombre de la aula que desea buscar, la tabla solo mostrará aquellas aulas con campos iguales. O ninguna aula en caso que ninguna aula coincida.</p>

<h2 id="33vistatitulacion">3.3  VistaTitulacion</h2>

<p>En la ventana de VistaTitulacion todos los cambios relacionados con las titulacions, asignaturas y sesiones de la unidad docente. En caso de que no se haya seleccionado ninguna titulación, entonces 
el programa muestra la lista de titulaciones existentes en la unidad docente y un botón para crear nuevas titulaciones, la lista puede estar vacía si no existe ninguna titulación. En caso de que hayamos 
seleccionado alguna titulación nos mostrará a la derecha de esta lista un gestor de cuatrimestres de esta titulación, donde podremos añadir y/o eliminar cuatrimestres, dentro de esta además podremos 
también añadir y/o eliminar asignaturas.</p>

<p><img src="./Images/VistaTitulacion1.png" alt="VistaT" /></p>

<h3 id="331creartitulacin">3.3.1 Crear titulación</h3>

<p>Dándole clic al botón de crear, el pogroma solicita que introduzcamos el nombre de la titulación que queremos crear. Si el usuario desea cancelar la acción de crear titulación puede anularlo dándole 
a cancelar. En caso contrario puede seguir la acción dándole a aceptar. </p>

<p><img src="./Images/visittitulacion2.png" alt="VistaTitulacion" /></p>

<p>En caso que el nombre introducido ya exista el programa notifica con un error y cancelará la acción de creación.</p>

<p>En caso que el usuario deje el campo de nombre en vacío el programa notifica que es inválido y deshace la acción.</p>

<p>Si cumple todas las condiciones, el programa crea una nueva titulación y la añade a la lista.</p>

<h3 id="332mentitulacin">3.3.2 Menú titulación</h3>

<p>Si le damos clic derecho a la lista de titulación nos aparecerá dos opciones:</p>

<h4 id="3321eliminar">3.3.2.1 Eliminar</h4>

<p>Al darle a la opció de eliminar, el programa pedirá la confirmación del usuario. Si el usuario acepta la acción, es este caso el programa eliminará la titulación de la lista seleccionada. Si el 
usuario cancela la acción, la titulación permanecerán intactas.</p>

<h4 id="3322cambiarnombre">3.3.2.2 Cambiar nombre</h4>

<p>Al darle a la opción de cambiar nombre, el programa pide que introduzcamos el nombre nuevo que queremos darle a la titulación.</p>

<p>En caso que el nombre introducido ya exista el programa notifica con un error y cancela el cambio.</p>

<p>En caso que el usuario deje el campo de nombre en vacío el programa notifica que es inválido y deshace la acción.</p>

<p>Si cumple todas las condiciones, el programa cambia el nombre de la titulación por el nombre nuevo.</p>

<h3 id="333modificartitulacin">3.3.3 Modificar titulación</h3>

<p>Para modificar una titulación, el usuario tiene que darle clic a la titulación deseada de la lista, en caso que no exista tiene que crearla. Al darle clic a una titulación, en la ventana se mostrará 
un gestor de titulación.</p>

<p><img src="./Images/vistatitulacion3.png" alt="Modificartit" /></p>

<h4 id="3331crearcuatrimestre">3.3.3.1 Crear cuatrimestre</h4>

<p>Para crear un cuatrimestre nuevo, el usuario tiene que darle clic al botón de "+" que más abajo se encuentre, en caso que no haya ningún cuatrimestre será el único botón de "+" que haya. El programa 
crea directamente el nuevo cuatrimestre solicitado, los cuatrimestres irán numerados, por ende, no es posible crear el cuatrimestre 5 sin que haya un cuatrimestre 4 previo.</p>

<p><img src="./Images/vistatitulacion4.png" alt="creacuatri" /></p>

<h4 id="3332eliminarcuatrimestre">3.3.3.2 Eliminar cuatrimestre</h4>

<p>Para eliminar un cuatrimestre, el usuario tiene que darle clic al botón de "-", esta función, sin embargo, hace algo, solo si existe algun cuatrimestre previo. 
En caso que el cuatrimestre contenga alguna asignatura, el programa notifica que el cuatrimestre no está vacío y pregunta si quiere seguir la eliminación. Si el usuario le da al botón de aceptar, el 
cuatrimestre se eliminará junto a todas las asignaturas que esta contenía, en caso contrario no efectuará ningun cambio.
En caso que el cuatrimestre no contenga ninguna asignatura, el programa efectuará la eliminación directamente.</p>

<h4 id="3333crearasignatura">3.3.3.3 Crear asignatura</h4>

<p>Para crear una asignutara el usuario tiene que escoger el cuatrimestre donde quiere crearlo y en esta darle al botón de "+";</p>

<p>Seguidamente, el programa nos muestra una subventana con los campos a introducir y una table vacía que se podrá llenar con las sesiones de la asignatura.</p>

<p><img src="./Images/VistaSesion.png" alt="asig" /></p>

<p>En caso que introduzcamos campos inválidos el programa notifica del error y el usuario puede modificar los campos directamente.</p>

<p>El usuario puede asociarle un color a la asignatura creada, puede ser un color predefinido, o en cualquier caso uno personalizado.</p>

<p><img src="./Images/VistaColor.png" alt="color" /></p>

<p>Si se desea cancelar la opción de creación, tan solo hay que darle al botón de cancelar.</p>

<p>También tenemos la opción de crear las sesiones asociadas a la asignatura.</p>

<p><strong>Para confirmar la creació de la asignatura el usuario tiene que darle al botón de OK</strong>.</p>

<h5 id="33331crearsesin">3.3.3.3.1 Crear sesión</h5>

<p>Para crear una sesión tenemos que estar en la subventana de la asignatura. El usuario solo tiene que darle al botón de sesión nueva y el programa crea una nueva fila en la tabla de sesiones, estas 
están numeradas. Los valores predeterminados de estas sesiones son de 1 hora de duración y de 1 grupo por sesión.</p>

<h5 id="33332modificarsesin">3.3.3.3.2 Modificar sesión</h5>

<p>Para modificar los valores de las sesiones, es decir la duración y el número de grupos por sesión, se puede hacer directamente en la table. En caso que el valor introducido sea inválido el programa 
notifica al usuario del error y restablece el valor del campo a 1.</p>

<p>Para modificar los recursos necesarios de una sesión, tal solo hay que darle clic al campo de recursos y saltará un gestor similar al de VistaAula.</p>

<p>En la lista de la izquierda nos muestra todos los recursos que han sido listados hasta el momento en la unidad docente y que no son requeridos en la sesión actual, mientras que en la lista de la 
derecha nos muestra la lista de todos los recursos que son necesarios para la sesión. El usuario puede mover libremente los recursos en la unidad docente y los requeridos de una lista a otro a partir de 
las flechas. </p>

<p>En caso que el usuario no encuentre el recurso que quiere en ninguna de las listas, este puede crear nuevos recursos introduciendo el nombre de este a partir del botón "nuevo".</p>

<p><strong>Los cambios se efectuarán solamente si el usuario le da al botón "OK", en caso contrario el programa deshace todos los cambios que el usuario haya efectuado</strong>.</p>

<h5 id="33333eliminarsesin">3.3.3.3.3 Eliminar sesión</h5>

Primero se selecciona una sesión. Al pulsar el botón de eliminar sesión desaparecerá la sesión seleccionada.

<h4 id="3334modificarasignatura">3.3.3.4 Modificar asignatura</h4>

<p>Para modificar un asignatura, el usuario tiene que darle clic al botón correspondiente a la asignatura, este tendrá las siglas escritas en el botón. El programa abrirá una subventana similar a la de 
creación donde podremos modificar los valores. </p>

<p>Si algun valor es inválido el programa lo notifica y lo deshace.</p>

<p><strong>Los cambios se efectuarán solamente si el usuario le da al botón "OK", en caso contrario el programa deshace todos los cambios que el usuario haya efectuado</strong>.</p>

<h4 id="3335eliminarasignatura">3.3.3.5 Eliminar asignatura</h4>

<p>Para eliminar una asignatura, el usuario tiene que darle clic derecho al botón de la asignatura y escoger la opció eliminar del menú. </p>

<p>Al darle a la opción de eliminar, el programa pedirá la confirmación del usuario. Si el usuario acepta la acción, en este caso el programa eliminará asignatura. Si el usuario cancela la acción, la 
asignatura permanecerá intacta.</p>

<h4 id="3336clonarasignatura">3.3.3.6 Clonar asignatura</h4>

<p>Para clonar una asignatura, el usuario tiene que darle clic derecho al botón de la asignatura y escoger la opció clonar del menú. </p>

<p>Al darle a la opción de clonar, el programa pedirá las siglas de la asignatura nueva. En caso que ya exista o el valor nuevo sea inválido el programa notifica al usuario y no crea la asignatura.</p>

<p>La nueva asignatura tiene todos los mismos valores que la asigntura del que se ha clonado menos las siglas y el nombre.</p>

<h4 id="3337moverasignatura">3.3.3.7 Mover asignatura</h4>

<p>Para mover una asignatura de cuatrimestre, el usuario tiene que dar clic derecho al botón de la asignatura y escoger la opció mover del menú.</p>

<p>Al darle a la opción de clonar, el programa pedirá a que cuatrimestre quiere moverse la asignatura.</p>

<h2 id="34vistahorario">3.4 VistaHorario</h2>

<p>En la ventana de VistaHorario muestra al usuario el horario generado, o en caso que este no haya sido generado todavía el botón de generar. </p>

<p><img src="./Images/VistaHorario1.png" alt="horario" /></p>

<h3 id="341generarhorario">3.4.1 Generar Horario</h3>

<p>Para generar horario el usuario le da clic al botón de generar. Seguidamente el programa muestra al usuario las condiciones que este quiere para el horario generado. El usuario solo tiene que 
seleccionar los campos que quiera que su horario cumpla. También tiene la opción de cambiar las horas lectivas en la parte superior de la subventana. </p>

<p><img src="./Images/VistaGenerar1.png" alt="generar" /></p>

<p>Si el usuario quiere darle más peso a alguna restricción, puede cambiar el peso de la restricción directamente desde la tabla. Si introduce un valor inválido el programa marcará en rojo la celda 
donde se encuentre el error y no permite otros cambios en la tabla hasta que se corrija el error. En caso que el usuario dé a generar horario sin cambiar el error, el horario se calculará con el valor 
inicial.</p>

<p><img src="./Images/VistaGenerar2.png" alt="generar" /></p>

<p>El programa genera el horario cuando el usuario le da al botón de generar.</p>

<p><img src="./Images/VistaCarregar.png" alt="generando" /></p>

<p>El significado de cada una de las restricciones se puede encontrar en la sección 4 de este manual.</p>

<h3 id="342horarioporclases">3.4.2 Horario por clases</h3>

<p>Si existe horario, entonces la ventana de VistaHorario se divide en dos partes, en la parte de la izquierda, el usuario puede seleccionar los elementos que quiere ver en la tabla, en el caso de la 
pestaña de aulas, se encuentran todas las aulas existentes de la unidad docente.</p>

<p>En la parte derecha de la ventana se verá el horario respecto a las aulas seleccionadas. El color de cada clase dependerá del color que hemos asociado a la asignatura que se cursa en la aula.</p>

<h3 id="343horarioportitulaciones">3.4.3 Horario por titulaciones</h3>

<p>Si existe horario, entonces la ventana de VistaHorario se divide en dos partes, en la parte de la izquierda, el usuario puede seleccionar los elementos que quiere ver en la tabla, en el caso de la 
pestaña de las titulaciones, se encuentran todas las titulaciones existentes de la unidad docente, además cada titulación tiene una rama con todas sus asignaturas, por lo tanto el usuario puede escoger 
ver solo algunas asignaturas de la titulación</p>

<p>En la parte derecha de la ventana se verá el horario respecto a las asignaturas y/o titulaciones seleccionadas. El color de cada clase dependerá del color que hemos asociado a la asignatura que se 
cursa.</p>

<h3 id="344ediciondelhorario">3.4.3 Edición del horario</h3>

<p>Una vez se ha generado el horario, éste se puede editar.</p>

<p>Para cambiar la hora y el dia de una sesión se tiene que arrastrar el cuadro de color que la representa a la hora que se quiera. Si ya hay una sesión en al mismo tiempo en la misma aula las dos intercambiarán sus posiciones.</p>

<p>Para cambiar el aula de una sesión se tiene que seleccionar el cuadro y pulsar botón derecho. Se abrirá un menú, al pulsar sobre la opcion correspondiente aparecerá un diálogo donde se podrá seleccionar la nueva aula.</p>

<p>Hay que tener en cuenta que al editar el horario pueden dejar de cumplirse algunas restricciones, pero nunca se llegará a un horario imposible.</p>

<h3 id="345regenerar">3.4.5 Regenerar</h3>

<p>Si existe horario, el usuario puede escoger crear otro horario, con el botón de regenerar horario. Al darle clic nos volverá a salir la subventana para que escojamos las restricciones queridas, para 
finalizar el usuario solo tiene que darle clic a generar horario para que aparezca el nuevo horario generado.
<strong>Si el horario previo no se ha guardado, hay que tener en cuenta que se perderá al regenerar un horario nuevo</strong></p>

<h1 id="4algoritmo">4. Algoritmo</h1>

<p>El algoritmo principal implementado es un algoritmo genético que genera un horario
que procura adaptarse lo mejor posible a las restricciones. El funcionamiento conceptual
del algoritmo es sencillo: </p>

<ol>
<li>Genera una <strong>población</strong> (un conjunto) inicial de horarios.</li>

<li>Ahora selecciona dos horarios, de tal forma que aquellos horarios que mejor se adapten
a las restricciones sean los más probables en ser elegidos. </li>

<li>Estos dos horarios se <strong>reproducen</strong> (crean un nuevo horario con atributos mezclados de los dos padres) y este nuevo horario creado, formará parte de la siguiente generación.
Los horarios se reproducen mediante entrecruzamiento en un algunos puntos y pueden mutar, adquiriendo unas pocas características que no tienen ninguno de los padres.</li>

<li>El proceso de selección de padres y de reproducción se repite haste obtener una nueva generación con un tamaño igual a la anterior. Como hemos seleccionado a los mejores horarios de la generación 
pasada, idealmente esta nueva generación cumple (en general) mejor las restricciones que la generación anterior. </li>

<li>Iteramos el proceso de creación de generaciones, obteniendo cada vez una generación mejor hasta que llegue un punto que el mejor horario de una generación sea una solución aceptable al
problema.</li>
</ol>

Cada horario es básicamente un hash map entre bloques (conjuntos de un dia, una hora y un aula) y horas de clase (es decir, sesiones de un grupo de una asignatura).
Al crear la población inicial de horarios se asigna cada hora de clase a un bloque, en general algunos bloques quedan vacíos.

Para decidir que horario es mejor, se calcula una función de fitness a partir de las restricciones que se detallan en la siguiente sección.

<h2 id="41restricciones">4.1 Restricciones</h2>

</style>
<table class="tg">
  <tr>
    <th class="tg-1wig">Restricción</th>
    <th class="tg-1wig">Significado</th>
    <th class="tg-1wig">Peso Recomendado</th>
  </tr>
  <tr>
    <td class="tg-0lax">SOLAPAMIENTOS</td>
    <td class="tg-0lax">Evita que las sesiones de más de una hora de duración se solapen. No es necesaria si todas las sesiones duran una hora.</td>
    <td class="tg-0lax">2</td>
  </tr>
  <tr>
    <td class="tg-0lax">DISPERSION_HORAS</td>
    <td class="tg-0lax">Reparte las sesiones equitativamente a lo largo del día.</td>
    <td class="tg-0lax">0.05</td>
  </tr>
  <tr>
    <td class="tg-0lax">ACABAR_A_HORA</td>
    <td class="tg-0lax">Evita que las sesiones de más de una hora acaben más tarde de la hora de cierre. No es necesaria si todas las sesiones duran una hora.</td>
    <td class="tg-0lax">0.5</td>
  </tr>
  <tr>
    <td class="tg-0lax">CAPACIDAD_EXCEDIDA</td>
    <td class="tg-0lax">Evita que las aulas se llenen por encima de su capacidad.</td>
    <td class="tg-0lax">0.2</td>
  </tr>
  <tr>
    <td class="tg-0lax">CAPACIDAD_DESAPROVECHADA</td>
    <td class="tg-0lax">Evita que las aulas queden demasiado vacías.</td>
    <td class="tg-0lax">0.02</td>
  </tr>
  <tr>
    <td class="tg-0lax">RECURSOS</td>
    <td class="tg-0lax">Hace que las aulas tengan los recursos necesarios para cada sesión.</td>
    <td class="tg-0lax">0.3</td>
  </tr>
  <tr>
    <td class="tg-0lax">CUATRIMESTRES</td>
    <td class="tg-0lax">Reparte las sesiones de las asignaturas de un mismo cuatrimestre para que se puedan cursar al mismo tiempo.</td>
    <td class="tg-0lax">0.1</td>
  </tr>
  <tr>
    <td class="tg-0lax">MISMA_ASIGNATURA</td>
    <td class="tg-0lax">Evita que haya varias sesiones de la misma asignatura a la misma hora.</td>
    <td class="tg-0lax">0.2</td>
  </tr>
  <tr>
    <td class="tg-0lax">MISMA_ASIGNATURA_DIA</td>
    <td class="tg-0lax">Reparte las sesiones de una asignatura a lo largo de la semana.</td>
    <td class="tg-0lax">0.1</td>
  </tr>
</table>

<h1 id="5crditos">5. Créditos</h1>

<p>Ernesto Lanchares Sánchez</p>

<p>Ferran López Guitart</p>

<p>Niebo Zhang</p>
